#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 20em;
	background-color: #fbb117;
	margin-bottom: 10px;
}

#name {
	float:center;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 90em;
	font-family: Impact, cursive;
	color: #000000;
}